<%= form_tag search_path, method: :get do %>
  <select name="type">
  	<option value="tag">По ингредиентам</option>
  	<option value="name">По названию</option>
  </select>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil %>
  <% end %>
  <% if params[:search] %>
<% @foods.each do |f| %>
<% if f.publick.approve == true %>
  <p>
  <%= link_to f.name, publick_food_path(f.publick, f) %> - <%= f.price %> руб.<br>
<%= f.tag_list %><br>
  
  </p> 
  <% end %>
<% end %>
<%= will_paginate @foods %>
<% end %>