
<h1><%= @shop.name %></h1><br>
<%= @shop.description %><br>
<%= @shop.address %><br>
<h2> Menu </h2>
<% @shop.foods.each do |f| %>
<%= f.name %><br>
<%= f.tag_list %>
<%= image_tag f.image.url(:medium) %><br>
<% end %>
<% if current_user && current_user.editor? && current_user[:id] == @shop.user_id %>
<h2>Add food</h2>
<%= form_for @food, url: food_index_path, html: { multipart: true } do |f| %>
    <%= f.hidden_field :shop_id, value: @shop.id %>
    <%= f.text_field :name %><br>
	<%= f.text_area :description %><br>
	<%= f.text_field :price %><br>
	<%= text_area_tag :ingredients %> <br>
	<%= f.file_field :image %><br>
	<%= f.submit %>
	<% end %>
<% end %>