<%= @user.first_name+" "+@user.last_name %><br>
<%= @user.email %><br>
<% if current_user.role == 'editor' && @user.id == current_user.id%>

<br>
<table>
	<tbody>
	    <% @user.publicks.each do |p| %>
	    	<tr>
	    		<th><%= link_to p.name, p %></th>
	    		<th><%= link_to 'edit', edit_publick_path(p) %></th>
	    	</tr>
    		
    	<% end %>
	</tbody>
</table>
  
    
	<%= link_to 'add new publick', new_publick_path %>
<% end %>