<% @objects.each do |s| %>
<div class="row">

<b><%= link_to s.name.capitalize, s%></b><br>
<%= s.description %><br>
<%= s.address %><br>

<%= rating_for s, 'original_score', enable_half: true %> <br>


</div>
<% end %>

<%= will_paginate @objects %>
