
<% unless @publick.approve %><p style="color: red">
<% if @publick.message %>
<%= @publick.message %>
<% end %>

</p>
<% end %>
<h1><%= @publick.name.mb_chars.capitalize %></h1><br>
<% if @publick.avatar_file_name %>
<%= image_tag @publick.avatar %>
<% end %>
<%= @publick.description %><br>
<%= @publick.address %><br>

<%= rating_for @publick, "original_score", enable_half: true %>
<% if current_user %>
<%= link_to 'Оставить жалобу на заведение', new_publick_complaint_path(@publick), style: "font-size: 15px"%>
<% end %>
<hr>
<h3> Меню </h3>
<table>
	<tbody>
	<% if current_user && current_user.editor? && current_user[:id] == @publick.user_id %>
		<% @publick.foods.each do |f| %>
		<tr>
			<td><%= link_to f.name, f %><br><%= rating_for f, 'original_score', :cancel => false, enable_half: true %></td>
			<td width="180"><small style="font-size: 14px; color: #555"><%= f.tag_list %></small></td>
			<td><%= f.price %> руб.</td>
			<td><%= link_to 'E', edit_food_path(f) %></td>
			<td><%= link_to 'X', food_path(f), method: "delete" %></td>
			
		</tr>
  		<% end %>
  		
		<tr>
		<td><%= link_to 'Добавить блюдо', new_publick_food_path(@publick) %></td>
  			
  		</tr>
    <% else %>
    	<% @publick.foods.each do |f| %>
		<tr>
			<td><%= link_to f.name, f %><br><%= rating_for f, 'original_score', :cancel => false, enable_half: true %></td>
			<td width="253"><small style="font-size: 14px; color: #555"><%= f.tag_list %></small></td>
			<td><%= f.price %> руб.</td>
			
		</tr>
  		<% end %>
	<% end %>
	</tbody>
</table>


<hr>
<% @comments.each do |c| %>
  <%= render c %>
<% end %>
<% if current_user %>
<%= form_for @comment, url: publick_comments_path(@publick,@comment) do |c| %>
<% if flash[:notice] %>
<div data-alert class="alert-box alert radius">
    <%= flash[:notice] %>
    <a href="#" class='close flash-data-alert'>&times;</a>
</div>
<% end %>
  <%= c.text_area :content %>

  <%= show_simple_captcha %>
  <%= c.button 'Отправить', class: "small" %>
  
  <% end %>
  
  <% end %>