
<%= link_to 'List', publicks_path %> 
<h1><%= @publick.name %></h1><br>
<%= @publick.description %><br>
<%= @publick.address %><br>

Original Score: <%= rating_for @publick, "original_score"%>

<h2> Menu </h2>
<% @publick.foods.each do |f| %>
<%= link_to f.name, publick_food_path(@publick, f) %><br>
<%= f.tag_list %><br>
<%= image_tag f.image.url(:medium) %><br>
<% if current_user %>
 Rate: <%= rating_for f, 'original_score' %> <br>
 <% end %>
<% end %>
<% if current_user && current_user.editor? && current_user[:id] == @publick.user_id %>
<%= link_to 'add food', new_publick_food_path(@publick) %>
<% end %>
<% @comments.each do |c| %>
  <%= c.user_id %><br>
  <%= c.content %><br>
<% end %>
<% if current_user %>
<%= form_for @comment, url: publick_comments_path(@publick,@comment) do |c| %>
  <%= c.text_area :content %><br>
  <%= c.submit %>
  <% end %>
  <% end %>