<%= link_to 'List', publicks_path %> 
<% unless @publick.approve %><p style="color: red">
Publick checking
</p>
<% end %>
<h1><%= @publick.name %></h1><br>
<%= @publick.description %><br>
<%= @publick.address %><br>
<% if current_user && @publick.approve %>
 <%= rating_for @publick, "original_score"%>
<% end %>
<h2> Menu </h2>
<% @publick.foods.each do |f| %>
<%= link_to f.name, publick_food_path(@publick, f) %> - <%= f.price %> руб.<br>
<%= f.tag_list %><br>
<% if current_user && @publick.approve %>
 <%= rating_for f, 'original_score', :cancel => false %> <br>
 <% end %>
<% end %>
<% if current_user && current_user.editor? && current_user[:id] == @publick.user_id %>
<%= link_to 'add food', new_publick_food_path(@publick) %>
<% end %>
<% @comments.each do |c| %>
  <%= c.user_id %><br>
  <%= c.content %><br>
<% end %>
<% if current_user && @publick.approve%>
<%= form_for @comment, url: publick_comments_path(@publick,@comment) do |c| %>
  <%= c.text_area :content %><br>
  <%= c.submit %>
  <% end %>
  <% end %>